<!-- Modal -->
<div class="modal fade" id="sudoreModalCenter" tabindex="-1" role="dialog" aria-labelledby="sudoreModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="container-fluid">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Agendamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <p class="text-muted">Obrigado pelo interesse em agendar uma sessão com a gente!</p>
                    <p class="text-muted mb-2">Agende você mesmo online ou fale com nosso atendimento.</p>


                    <div class="row py-2">
                        <div class="col-md-6 border-right border-muted mb-3">
                            <h2 class="h4">Agendamento Online</h2>
                            <p class="mb-2">Selecione o botão abaixo para realizar um agendamento online.</p>
                            <a class="btn btn-primary btn-block py-2 font-weight-bold" target="_blank" href="{{ site.reservio_url }}/booking/business/service" role="button"><i class="ion-calendar"></i> AGENDAR ONLINE</a>
                        </div>
                        <div class="col-md-6">
                            <h2 class="h4">Falar com Atendimento</h2>
                            <p class="mb-2">Selecione o botão abaixo para falar com nosso atendimento via WhatsApp.</p>
                            <a class="btn btn-success btn-block py-2 font-weight-bold" target="_blank" href="https://wa.me/5561999382956" role="button"><i class="ion-social-whatsapp"></i> CONTACTAR</a>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>


            </div> <!-- container end -->

        </div>
    </div>
</div>