<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #fff">
    <div class="container">
        <a class="navbar-brand" href="{{ site.url }}">Navbar</a>
        <ul class="navbar-nav mr-auto mt-lg-0 d-inline">
                <li class="nav-item"><a class="nav-link" href="https://facebook.com/{{ site.social.facebook }}"><i class="ion-social-facebook"></i></a></li>
                <li class="nav-item ml-sm-2"><a class="nav-link" href="https://instagram.com/{{ site.social.instagram }}"><i class="ion-social-instagram-outline"></i></a></li>
            </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            
            
            
            
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <a class="nav-link disabled" href="#">Disabled</a>
            </ul>

            <ul class="navbar-nav ml-3 mt-2 mt-lg-0">
                <a class="btn btn-primary py-2" href="#" role="button">AGENDAR</a>
            </ul>



        </div>

        
    </div>
</nav>




