<!-- Section -->
<section id="beneficios">

    <!-- Container -->
    <div class="container">

        <!-- Row One -->
        <div class="row mb-lg-5">

            <div class="mr-auto col-md-12"> <!-- Col Headline -->
                <h1 class="h2">Descubra os Benefícios da<br><span class="sudore-green">Transpiração</span> <span
                        class="sudore-orange">Profunda</span></h1>
            </div> <!-- Col Headline end -->
        </div> <!-- Row One end -->

        <!-- Row 2 -->
        <div class="row"> 

            <!-- Col Description -->
            <div class="col-lg-3 col-sm-12 mb-4">
                <p>A Sudore proporciona uma sessão de sauna terapia restauradora e segura que deixará o seu corpo cada vez mais rejuvenescido.</p>
            </div> <!-- Col Description End -->

            <!-- Col Features-->
            <div class="col-lg-9 col-sm-12">


                <!-- Row 2 Children 1 of 3 -->
                <div class="row">

                    <!-- Col Benefício 1 of 6 -->
                    <div class="col mb-4">
                        <div class="media">
                            <img class="feature-icon mr-2 mt-2" src="{% asset icons/gotas.svg @path %}"
                                alt="Ícone Detox">
                            <div class="media-body">
                                <h5 class="mt-0 sudore-green font-weight-bold">Detox</h5>
                                <p>Saunas Infravermelhas estimulam as glândulas surodíparas, liberando as toxinas em
                                    circulação, 7x mais do que o seu corpo conseguiria suando normalmente.</p>
                            </div>
                        </div>
                    </div> <!-- Benefício 1 of 6 end -->

                    <!-- Col Benefício 2 of 6 -->
                    <div class="col mb-4">
                        <div class="media">
                            <img class="feature-icon mr-2 mt-2" src="{% asset icons/fogo.svg @path %}"
                                alt="Ícone Queima de Calorias">
                            <div class="media-body">
                                <h5 class="mt-0 sudore-green font-weight-bold">Queima de Calorias</h5>
                                <p>Enquanto você está relaxando, seu corpo está em plena atividade, produzindo suor,
                                    circulando sangue e queimando calorias. Queima entre 200 e 400 calorias por sessão.
                                </p>
                            </div>
                        </div>
                    </div> <!-- Col Benefício 2 of 6 end -->

                </div> <!-- Row 2 Children 1 of 3 end -->
                


                <!-- Row 2 Children 2 of 3 -->
                <div class="row">

                    <!-- Col Benefício 3 of 6 -->
                    <div class="col mb-4">
                        <div class="media">
                            <img class="feature-icon mr-2 mt-2" src="{% asset icons/muscular.svg @path %}"
                                alt="Ícone Recuperação Musuclar">
                            <div class="media-body">
                                <h5 class="mt-0 sudore-green font-weight-bold">Recuperação</h5>
                                <p>O calor profundo dilata os vasos sanguíneos periféricos, produzindo alívio para
                                    músculos e regiões atingidas por impacto.</p>
                            </div>
                        </div>
                    </div><!-- Col Benefício 3 of 6 end -->

                    <!-- Col Benefício 4 of 6 -->
                    <div class="col mb-4">
                        <div class="media">
                            <img class="feature-icon mr-2 mt-2" src="{% asset icons/ciclo.svg @path %}"
                                alt="Ícone Ciclo de Flexas">
                            <div class="media-body">
                                <h5 class="mt-0 sudore-green font-weight-bold">Maior Circulção</h5>
                                <p>Com aumento da circulação, além de eliminar mais eficientemente as toxinas, seu corpo
                                    entrega mais sangue rico em oxigênio aos músculos.</p>
                            </div>
                        </div>
                    </div> <!-- Col Benefício 4 of 6 end -->

                </div> <!-- Row 2 Children 2 of 3 end -->
                
                


                <!-- Row 2 Children 3 of 3 -->
                <div class="row">

                    <!-- Col Benefício 5 of 6 -->
                    <div class="col mb-4">
                        <div class="media">
                            <img class="feature-icon mr-2 mt-2" src="{% asset icons/relaxamento.svg @path %}"
                                alt="Ícone Relaxamento da Mente">
                            <div class="media-body">
                                <h5 class="mt-0 sudore-green font-weight-bold">Relaxamento</h5>
                                <p>Uma sessão de Sauna Infravermelha ajuda você a relaxar, enquanto produz supr de forma
                                    intensa e profunda, deixando você completamente renovado e revigorado.</p>
                            </div>
                        </div>
                    </div> <!-- Col Benefício 5 of 6 end -->

                    <!-- Col Benefício 6 of 6 -->
                    <div class="col mb-4">
                        <div class="media">
                            <img class="feature-icon mr-2 mt-2" src="{% asset icons/purifica.svg @path %}"
                                alt="Ícone Purificação e Limpeza">
                            <div class="media-body">
                                <h5 class="mt-0 sudore-green font-weight-bold">Purificação</h5>
                                <p>O suor intenso produzido numa sessão de Sauna Infravermelha eliminar células mortas e
                                    as impurezas mais profundas da pele.</p>
                            </div>
                        </div>
                    </div> <!-- Col Benefício 6 of 6 end -->

                </div> <!-- Row 2 Children 3 of 3 end -->

            </div> <!-- Col Features end -->

        </div> <!-- Row 2 end -->

    </div> <!-- Container end -->

</section> <!-- Section Benefícios end -->