<section id="beneficios">
    <div class="container">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa laboriosam exercitationem maxime dolorem ea sequi aliquam. Ducimus ex, labore cumque vero, doloribus quis quisquam eligendi quae deserunt facilis ullam reprehenderit?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate amet saepe dolores consequuntur fugiat similique assumenda qui provident porro ad nihil, quis fugit quae! Libero veniam vitae ab fuga praesentium!</p>
    </div>
</section>