<!-- Section -->
<section id="comofunciona">

    <!-- Container -->
    <div class="container-fluid">
        <div class="row">
                    <h2 class="title font-weight-bold">
                            <span class="sudore-green">O Poder</span><br> <span class="sudore-pink">Infravermelho</span>
                    </h2>
               
        </div>
        <!-- Row -->
        <div class="row d-flex"> 

            <!-- Col left-side -->
            <div class="col-lg-8 left-side d-flex">

                <div class="row">
                    <div class="mx-auto col-lg-8 align-self-center">
                            <h1 class="sudore-orange">Infravermelho Isolado</h1>   
                            <p class=" text-light subhead">Ao eliminar os raios ultra violeta, que são prejudiciais e nocivos à saúde, é possível desfrutar dos benefícios dos raios infravermelho de maneira segura.</p>
                            <a class="sudore-green" href="#cromoterapia">Cromoterapia <i class="ion-chevron-down"></i></a>
                    </div>
                </div>
                
            </div> <!-- Col left-side end -->

            <!-- Col right-side-->
            <div class="col-lg-4 right-side d-flex">
                    <div class="row">
                            <div class="col-lg-10 align-self-start pt-4">
                                    <p class="sudore-orange h3">Transpiração Profunda</p>
                                    <p class="text-light">O calor do infravermelho envolve todo o seu corpo penetrando na pele, músculos, articulações e tecidos para aumentar a circulação sanguínea, acelerar o fluxo de oxigênio e ajudar a livrar o corpo de toxinas prejudiciais.</p>
                            </div>
                    </div>
                    
            </div> <!-- Col right-side end -->

        </div> <!-- Row end -->

    </div> <!-- Container end -->




    <div class="container-fluid" id="cromoterapia">

        <div class="row">

            <!-- col 1 Carousel-->
            <div class="col-lg-9 pl-0"> 

                 
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                      
                        <!-- Slide 1 - Set the background image for this slide in the line below -->
                      <div class="carousel-item active" style="background-image: linear-gradient(to right, rgba(220,20,60, 0.5),rgba(255,0,0, 0.5)), url({% asset bg-1.jpg @path %})">
                            <div class="carousel-caption d-none d-md-block">
                              <h2 class="display-4">Vermelho</h2>
                              <p class="h3 text-light">O Grande Energizador</p>
                              <p class="lead text-light font-weight-bold">A cor vermelha faz maravilhas no seu corpo para aumentar a sua energia!</p>
                            </div>
                      </div>

                      <!-- Slide 2 - Set the background image for this slide in the line below -->
                      <div class="carousel-item" style="background-image: linear-gradient(to right, rgba(255,165,0, 0.5),rgba(255,165,0, 0.6)), url({% asset bg-1.jpg @path %})">
                            <div class="carousel-caption d-none d-md-block">
                              <h2 class="display-4">Laranja</h2>
                              <p class="h3 text-light">O Raio da Sabedoria</p>
                              <p class="lead text-light font-weight-bold">Um estimulante emocional, ajuda a remover inibições.</p>
                            </div>
                      </div>

                      <!-- Slide 3 - Set the background image for this slide in the line below -->
                      <div class="carousel-item" style="background-image: linear-gradient(to right, rgba(46,139,87, 0.5),rgba(60,179,113, 0.6)), url({% asset bg-1.jpg @path %})">
                            <div class="carousel-caption d-none d-md-block">
                              <h2 class="display-4">Verde</h2>
                              <p class="h3 text-light">A Cor Universal da Cura</p>
                              <p class="lead text-light font-weight-bold">Na dúvida, vá sempre de verde!</p>
                            </div>
                      </div>
                      
                      <!-- Slide 4 - Set the background image for this slide in the line below -->
                      <div class="carousel-item" style="background-image: linear-gradient(to right, rgba(0,0,205, 0.5),rgba(30,144,255, 0.6)), url({% asset bg-1.jpg @path %})">
                            <div class="carousel-caption d-none d-md-block">
                              <h2 class="display-4">Azul</h2>
                              <p class="h3 text-light">O Calmante Natural</p>
                              <p class="lead text-light font-weight-bold">Efeito pacificador, relaxamento mental.</p>
                            </div>
                      </div>
                      
                      
                      
                      <!-- Slide 5 - Set the background image for this slide in the line below -->
                      <div class="carousel-item" style="background-image: linear-gradient(to right, rgba(199, 199, 23, 0.5),rgba(211, 211, 12, 0.5)), url({% asset bg-1.jpg @path %})">
                            <div class="carousel-caption d-none d-md-block">
                              <h2 class="display-4">Amarelo</h2>
                              <p class="h3 text-light">O Inspirador</p>
                              <p class="lead font-weight-bold text-light">Precisando de um empurrão na criatividade?</p>
                            </div>
                      </div>



                      <!-- Slide 6 - Set the background image for this slide in the line below -->
                      <div class="carousel-item" style="background-image: linear-gradient(to right, rgba(218,112,214, 0.5),rgba(153,50,204, 0.6)), url({% asset bg-1.jpg @path %})">
                            <div class="carousel-caption d-none d-md-block">
                              <h2 class="display-4">Púrpura</h2>
                              <p class="h3 text-light">O Revitalizador de Mentes</p>
                              <p class="lead text-light font-weight-bold">Sentindo sua mente sobrecarregada?</p>
                            </div>
                      </div>


                    


                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                  </div>



            </div> <!-- col 1 carousel end-->

            <!-- col 2 Cromoterapia-->
            <div class="col-lg-3 pt-4 d-flex">

                <div class="align-self-center">

                    <h1 class="h1 mt-4 sudore-green">Cromoterapia</h1>
                    <p class="mb-2">Cromoterapia é um método que, conhecido a muitos séculos pela humanidade, utiliza as cores visíveis da luz eletromagnética para tratar diversos problemas de saúde.
                            Desde 2018, no Brasil, o <b class="font-weight-bold">Ministério da Saúde, incluiu a prática da Cromoterapia no Sistema único de Saúde (SUS)</b>, como parte da <b class="font-weight-bold">Política Nacional de Práticas Integrativas e Complementares</b> (PNPIC).</p>
                            <a class="btn btn-outline-danger py-2 font-weight-bold" href="{{ site.reservio_url }}" role="button">AGENDAR <i class="ion-clock"></i></a>
                </div>
            </div> <!-- col 2 Cromoterapia end -->

        </div> <!-- row end -->

        
    </div> <!-- container end -->

</section> <!-- Section Benefícios end -->
