<!-- Section -->
<section id="comofunciona">

  <div id="summary" class="wrapper py-4">
    <div class="container py-5">
      <!-- <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="mb-5 text-light">1 Sessão</h1>
            </div>
          </div> -->
      <div class="row">
        <div class="col-md-3 text-center border-right border-light mb-2">
          <h2 class="h1 text-light"><i class="ion-clock"></i></h2>
          <p class="text-light h4"><span class="sudore-orange font-weight-bold">40 Minutos</span><br> por sessão</p>
        </div>
        <div class="col-md-3 text-center border-right border-light mb-2">
          <h2 class="h1 text-light"><i class="ion-fireball"></i></h2>
          <p class="text-light h4"><span class="sudore-orange font-weight-bold">200 a 400</span><br>calorias queimadas</p>
        </div>
        <div class="col-md-3 text-center border-right border-light mb-2">
          <h2 class="h1 text-light"><i class="ion-waterdrop"></i></h2>
          <p class="text-light h4"><span class="sudore-orange font-weight-bold">7x Mais Detox</span><br> que saunas
            convencionais</p>
        </div>
        <div class="col-md-3 text-center text-md-left mb-2">
          <img class="aquecimento ml-md-4" src="{% asset icons/aquecimento.svg @path %}" alt="Calor Profundo">
        </div>
      </div>
    </div>
  </div>




  <div class="container mb-sm-4">
    <!-- Row One -->
    <div class="row mt-lg-5 pt-4">

      <div class="col-lg-10 offset-lg-2 col-md-12">
        <h1 class="h2">Tecnologia que Favorece<br><span class="sudore-green">Sua</span> <span
            class="sudore-orange">Saúde</span></h1>
      </div>
    </div>
    <!--  Row One end -->


    <!-- row 2 -->
    <div class="row mb-sm-4">

      <!-- col left -->
      <div class="col-lg-4 offset-lg-2 col-md-6 mb-4">
        <p class="text-muted mb-2">A Sudore combina os <a class="sudore-green"
            href="{{ site.url }}#beneficios">benefícios</a> dos raios infravermelhos com a beleza terapêutica da luz
          visível através da <a class="sudore-green" href="{{ site.url }}#cromoterapia">cromoterapia</a>.</p>

        <p class="text-muted">Nossas saunas possibilitam o aquecimento através dos raios <a class="sudore-green"
            href="{{ site.url }}#infravermelho">infravermelho</a> isoladamente, sem a presença dos raios ultra violeta
          (UV) encontrados na luz solar, esta tecnologia permite uma experiência relaxante, revigorante e,
          principalmente, segura.</p>


      </div> <!-- col left end -->

      <!-- col right -->
      <div class="col-lg-6 col-md-6">

        <img class="mb-4" src="{% asset sauna-2.jpg @path %}" alt="Sauna" class="img-fluid rounded">

      </div> <!-- col right -->


    </div> <!-- row 2 end -->
  </div> <!-- container end -->




  <!-- Container -->
  <div id="infravermelho" class="container-fluid">
    <div class="row">
      <h2 class="title font-weight-bold infravermelho-title">
        <span class="sudore-green">O Poder</span><br> <span class="sudore-pink">Infravermelho</span>
      </h2>

    </div>
    <!-- Row -->
    <div class="row d-flex">

      <!-- Col left-side -->
      <div class="col-lg-8 left-side d-flex">

        <div class="row">
          <div class="mx-auto col-lg-8 align-self-center">
            <h1 class="sudore-orange">Infravermelho Isolado</h1>
            <p class=" text-light subhead">Ao eliminar os raios ultra violeta, que são prejudiciais e nocivos à saúde, é
              possível desfrutar dos benefícios dos raios infravermelho de maneira segura.</p>
            <a class="sudore-green" href="#cromoterapia">Cromoterapia <i class="ion-chevron-down"></i></a>
          </div>
        </div>

      </div> <!-- Col left-side end -->

      <!-- Col right-side-->
      <div class="col-lg-4 right-side d-flex pr-3">
        <div class="row">
          <div class="col-lg-9 align-self-start pt-5 mt-lg-5 mb-sm-3">
            <p class="sudore-orange h3">Calor Penetrante</p>
            <p class="text-light">O calor do infravermelho envolve todo o seu corpo penetrando na pele, músculos,
              articulações e tecidos para aumentar a circulação sanguínea, acelerar o fluxo de oxigênio e ajudar a
              livrar o corpo de toxinas prejudiciais.</p>
          </div>

          <div class="col-lg-9 align-self-end pb-5 mb-3">
            <p class="sudore-orange h3">Purificação</p>
            <p class="text-light">Nossas saunas de infravermelho ajudam a remover as impurezas das células do seu corpo,
              especificamente as células estacionadas dentro da gordura, onde nosso corpo armazena resíduos e toxinas
              prejudiciais como, por exemplo, colesterol e metais pesados.</p>
          </div>
        </div>

      </div> <!-- Col right-side end -->

    </div> <!-- Row end -->

  </div> <!-- Container end -->




  <div class="container-fluid" id="cromoterapia">

    <div class="row">


      <!-- col 1 Carousel-->
      <div class="col-xl-8 col-lg-7 col-md-6 px-0">


        <div id="carouselSudore" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselSudore" data-slide-to="0" class="active"></li>
            <li data-target="#carouselSudore" data-slide-to="1"></li>
            <li data-target="#carouselSudore" data-slide-to="2"></li>
            <li data-target="#carouselSudore" data-slide-to="3"></li>
            <li data-target="#carouselSudore" data-slide-to="4"></li>
            <li data-target="#carouselSudore" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner cromoterapia-carousel-column" role="listbox">

            <!-- Slide 1 - Set the background image for this slide in the line below -->
            <div class="carousel-item active"
              style="background-image: linear-gradient(to right, rgba(220,20,60, 0.5),rgba(255,0,0, 0.5)), url({% asset bg-1.jpg @path %})">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Vermelho</h2>
                <p class="h3 text-light">O Grande Energizador</p>
                <p class="lead text-light font-weight-bold">A cor vermelha faz maravilhas no seu corpo para aumentar a
                  sua energia!</p>
              </div>
            </div>

            <!-- Slide 2 - Set the background image for this slide in the line below -->
            <div class="carousel-item"
              style="background-image: linear-gradient(to right, rgba(255,165,0, 0.5),rgba(255,165,0, 0.6)), url({% asset bg-1.jpg @path %})">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Laranja</h2>
                <p class="h3 text-light">O Raio da Sabedoria</p>
                <p class="lead text-light font-weight-bold">Um estimulante emocional, ajuda a remover inibições.</p>
              </div>
            </div>

            <!-- Slide 3 - Set the background image for this slide in the line below -->
            <div class="carousel-item"
              style="background-image: linear-gradient(to right, rgba(46,139,87, 0.5),rgba(60,179,113, 0.6)), url({% asset bg-1.jpg @path %})">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Verde</h2>
                <p class="h3 text-light">A Cor Universal da Cura</p>
                <p class="lead text-light font-weight-bold">Na dúvida, vá sempre de verde!</p>
              </div>
            </div>

            <!-- Slide 4 - Set the background image for this slide in the line below -->
            <div class="carousel-item"
              style="background-image: linear-gradient(to right, rgba(0,0,205, 0.5),rgba(30,144,255, 0.6)), url({% asset bg-1.jpg @path %})">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Azul</h2>
                <p class="h3 text-light">O Calmante Natural</p>
                <p class="lead text-light font-weight-bold">Efeito pacificador, relaxamento mental.</p>
              </div>
            </div>



            <!-- Slide 5 - Set the background image for this slide in the line below -->
            <div class="carousel-item"
              style="background-image: linear-gradient(to right, rgba(199, 199, 23, 0.5),rgba(211, 211, 12, 0.5)), url({% asset bg-1.jpg @path %})">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Amarelo</h2>
                <p class="h3 text-light">O Inspirador</p>
                <p class="lead font-weight-bold text-light">Precisando de um empurrão na criatividade?</p>
              </div>
            </div>



            <!-- Slide 6 - Set the background image for this slide in the line below -->
            <div class="carousel-item"
              style="background-image: linear-gradient(to right, rgba(218,112,214, 0.5),rgba(153,50,204, 0.6)), url({% asset bg-1.jpg @path %})">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Púrpura</h2>
                <p class="h3 text-light">O Revitalizador de Mentes</p>
                <p class="lead text-light font-weight-bold">Sentindo sua mente sobrecarregada?</p>
              </div>
            </div>





          </div>
          <!-- Controlls -->
          <a class="carousel-control-prev" href="#carouselSudore" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselSudore" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!-- Controlls end -->
        </div>



      </div> <!-- col 1 carousel end-->





      <!-- col 2 Cromoterapia-->
      <div class="col-xl-4 col-lg-5 col-md-6 cromoterapia-content-column pt-4 pl-4 pr-4">


        <h2 class="h2 mt-4 sudore-green">Cromoterapia</h2>
        <p class="mb-4 pr-4">Cromoterapia é um método que, conhecido a muitos séculos pela humanidade, utiliza as cores
          visíveis da luz eletromagnética para tratar diversos problemas de saúde.
          Desde 2018, no Brasil, o <b class="font-weight-bold">Ministério da Saúde, incluiu a prática da Cromoterapia no
            Sistema único de Saúde</b> (SUS), como parte da <b class="font-weight-bold">Política Nacional de Práticas
            Integrativas e Complementares</b> (PNPIC).</p>
        <!-- <a class="btn btn-outline-danger py-2 font-weight-bold mb-4" href="{{ site.reservio_url }}/booking/business/service" role="button">AGENDAR <i class="ion-clock"></i></a> -->


        <!-- Row Nav Pills -->
        <div class="row">

          <!-- Nav Pills Controllers -->
          <div class="col-3">

            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-vermelho-tab" data-toggle="pill" href="#v-pills-vermelho"
                role="tab" aria-controls="v-pills-vermelho" aria-selected="true">Vermelho</a>
              <a class="nav-link" id="v-pills-laranja-tab" data-toggle="pill" href="#v-pills-laranja" role="tab"
                aria-controls="v-pills-laranja" aria-selected="false">Laranja</a>
              <a class="nav-link" id="v-pills-amarelo-tab" data-toggle="pill" href="#v-pills-amarelo" role="tab"
                aria-controls="v-pills-amarelo" aria-selected="false">Amarelo</a>
              <a class="nav-link" id="v-pills-verde-tab" data-toggle="pill" href="#v-pills-verde" role="tab"
                aria-controls="v-pills-verde" aria-selected="false">Verde</a>
              <a class="nav-link" id="v-pills-azul-tab" data-toggle="pill" href="#v-pills-azul" role="tab"
                aria-controls="v-pills-azul" aria-selected="false">Azul</a>
              <a class="nav-link" id="v-pills-purpura-tab" data-toggle="pill" href="#v-pills-purpura" role="tab"
                aria-controls="v-pills-purpura" aria-selected="false">Púrpura</a>
            </div>

          </div> <!-- Nav Pills Controllers end -->


          <!-- Pills Content Col -->
          <div class="col-9">

            <!-- Nav Pills Content -->
            <div class="tab-content" id="v-pills-tabContent">

              <!-- Item -->
              <div class="tab-pane fade show active" id="v-pills-vermelho" role="tabpanel"
                aria-labelledby="v-pills-vermelho-tab">
                <h3 class="h5 text-truncate">O Grande Energizador</h3>
                <ul class="list-group mt-3">
                  <li class="list-group-item">Ativa o metabolismo.</li>
                  <li class="list-group-item">Promove o crescimento celular estimulando o sistema circulatório.</li>
                  <li class="list-group-item">Excelente para a anemia, além de ajudar em casos de doenças relacionadas
                    com o sangue.</li>
                  <li class="list-group-item">Ideal para gripes e outras condições letárgicas como pneumonia, artrites e
                    anemia.</li>
                  <li class="list-group-item">Estimula o fígado.</li>
                </ul>
              </div>


              <!-- Item -->
              <div class="tab-pane fade" id="v-pills-laranja" role="tabpanel" aria-labelledby="v-pills-laranja-tab">
                <h3 class="h5 text-truncate">O Raio da Sabedoria</h3>
                <ul class="list-group mt-3">
                  <li class="list-group-item">Liberte sua mente.</li>
                  <li class="list-group-item">Um estimulante emocional.</li>
                  <li class="list-group-item">Ajuda a remover inibições.</li>
                  <li class="list-group-item">Ajuda com as cólicas menstruais.</li>
                  <li class="list-group-item">Ajuda na reparação de inflamação nos rins, cálculos biliares e sinusite.
                  </li>
                </ul>
              </div>


              <!-- Item -->
              <div class="tab-pane fade" id="v-pills-amarelo" role="tabpanel" aria-labelledby="v-pills-amarelo-tab">
                <h3 class="h5 text-truncate">O Inspirador</h3>
                <ul class="list-group mt-3">
                  <li class="list-group-item">Proporciona clareza de pensamento, maior consciência e estimula o
                    interesse e a curiosidade.</li>
                  <li class="list-group-item">Ajuda a despertar a inspiração mental.</li>
                  <li class="list-group-item">Ajuda a reparar cicatrizes e eczemas.</li>
                  <li class="list-group-item">Excelente cor para o sistema nervoso ou doenças relacionadas ao nervo
                    devido a um efeito alcalino que fortalece os nervos.</li>
                  <li class="list-group-item">Ajuda em problemas relacionados ao estômago, fígado e intestinos,
                    incluindo constipação e gases.</li>
                </ul>
              </div>


              <!-- Item -->
              <div class="tab-pane fade" id="v-pills-verde" role="tabpanel" aria-labelledby="v-pills-verde-tab">
                <h3 class="h5 text-truncate">A Cor Universal da Cura</h3>
                <ul class="list-group mt-3">
                  <li class="list-group-item">Relaxa músculos, nervos e pensamentos.</li>
                  <li class="list-group-item">Proporciona sentimento de paz e harmonia.</li>
                  <li class="list-group-item">Ótimo para problemas do coração, redução da pressão arterial, úlceras,
                    câncer, dores de cabeça, distúrbios nervosos e gripe.</li>
                  <li class="list-group-item">Renova, modera e acalma.</li>
                  <li class="list-group-item">Na dúvida, vá sempre de verde!</li>
                </ul>
              </div>


              <!-- Item -->
              <div class="tab-pane fade" id="v-pills-azul" role="tabpanel" aria-labelledby="v-pills-azul-tab">
                <h3 class="h5 text-truncate">O Calmante Natural</h3>
                <ul class="list-group mt-3">
                  <li class="list-group-item">Raios azuis calmantes proporcionam paz a uma mente que está preocupada,
                    excitada ou em um estado nervoso constante.</li>
                  <li class="list-group-item">Pode ser usado para qualquer problema associado à fala, comunicação ou
                    garganta.</li>
                  <li class="list-group-item">Efeito pacificador no sistema nervoso.</li>
                </ul>
              </div>


              <!-- Item -->
              <div class="tab-pane fade" id="v-pills-purpura" role="tabpanel" aria-labelledby="v-pills-purpura-tab">
                <h3 class="h5 text-truncate">O Revitalizador de Mentes</h3>
                <ul class="list-group mt-3">
                  <li class="list-group-item">Púrpura é a última cor que podemos ver antes da luz ultravioleta (UV).
                  </li>
                  <li class="list-group-item">O Violeta anima e limpa o sangue venoso.</li>
                  <li class="list-group-item">Excelente para neurose, doenças do couro cabeludo, dor ciática, tumores,
                    reumatismo, meningite celeste-espinhal, concussões, cãibras e epilepsia.</li>
                </ul>
              </div>

            </div> <!-- Nav Pills Content end -->

          </div> <!-- Pills Content Col end -->

        </div> <!-- Row Nav Pills end -->


      </div> <!-- col 2 Cromoterapia end -->


    </div> <!-- row end -->


  </div> <!-- container end -->

</section> <!-- Section Benefícios end -->