<!-- Section -->
<section id="comofunciona">

    <!-- Container -->
    <div class="container-fluid">
        <div class="row">
                    <h2 class="title font-weight-bold">
                            <span class="sudore-green">O Poder</span><br> <span class="sudore-pink">Infravermelho</span>
                    </h2>
               
        </div>
        <!-- Row -->
        <div class="row d-flex"> 

            <!-- Col left-side -->
            <div class="col-lg-8 left-side d-flex">

                <div class="row">
                    <div class="mx-auto col-lg-8 align-self-center">
                            <h1 class="sudore-orange">Infravermelho Isolado</h1>   
                            <p class=" text-light subhead">Ao eliminar os raios ultra violeta, que são prejudiciais e nocivos à saúde, é possível desfrutar dos benefícios dos raios infravermelho de maneira segura.</p>
                            <a class="sudore-green" href="#cromoterapia">Cromoterapia <i class="ion-chevron-down"></i></a>
                    </div>
                </div>
                
            </div> <!-- Col left-side end -->

            <!-- Col right-side-->
            <div class="col-lg-4 right-side d-flex">
                    <div class="row">
                            <div class="col-lg-10 align-self-start pt-4">
                                    <p class="sudore-orange h3">Transpiração Profunda</p>
                                    <p class="text-light">O calor do infravermelho envolve todo o seu corpo penetrando na pele, músculos, articulações e tecidos para aumentar a circulação sanguínea, acelerar o fluxo de oxigênio e ajudar a livrar o corpo de toxinas prejudiciais.</p>
                            </div>
                    </div>
                    
            </div> <!-- Col right-side end -->

        </div> <!-- Row end -->

    </div> <!-- Container end -->




    <div class="container-fluid" id="cromoterapia">

        <div class="row">

            <!-- col 1 Carousel-->
            <div class="col-lg-9 pl-0"> 

                 
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                      <!-- Slide One - Set the background image for this slide in the line below -->
                      <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/LAaSoL0LrYs/1920x1080')">
                        <div class="carousel-caption d-none d-md-block">
                          <h2 class="display-4">First Slide</h2>
                          <p class="lead">This is a description for the first slide.</p>
                        </div>
                      </div>
                      <!-- Slide Two - Set the background image for this slide in the line below -->
                      <div class="carousel-item" style="background-image: url('https://source.unsplash.com/bF2vsubyHcQ/1920x1080')">
                        <div class="carousel-caption d-none d-md-block">
                          <h2 class="display-4">Second Slide</h2>
                          <p class="lead">This is a description for the second slide.</p>
                        </div>
                      </div>
                      <!-- Slide Three - Set the background image for this slide in the line below -->
                      <div class="carousel-item" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080')">
                        <div class="carousel-caption d-none d-md-block">
                          <h2 class="display-4">Third Slide</h2>
                          <p class="lead">This is a description for the third slide.</p>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                  </div>



            </div> <!-- col 1 carousel end-->

            <!-- col 2 Cromoterapia-->
            <div class="col lg-3">
                <h1>Um título</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem ab beatae delectus odit pariatur impedit sapiente, nemo quia deleniti nesciunt perferendis vitae ut, adipisci sequi mollitia architecto distinctio debitis omnis?</p>

            </div> <!-- col 2 Cromoterapia end -->

        </div> <!-- row end -->

        
    </div> <!-- container end -->

</section> <!-- Section Benefícios end -->
