<section id="faq">
  <div class="container">


      <!-- Row One -->
      <div class="row mb-lg-5">

        <div class="mr-auto col-md-12">
          <!-- Col Headline -->
          <h1 class="h2 text-light"><br><span class="sudore-green">Dúvidas</span> <span
              class="sudore-orange">Frequentes</span></h1>
        </div> <!-- Col Headline end -->
      </div> <!-- Row One end -->

      <!-- Row 2 -->
      <div class="row">

        <!-- Col Description -->
        <div class="col-lg-3 col-sm-12 mb-4">
          <p class="text-light">Surgiu alguma dúvida?<br>Encontre respostas para as perguntas mais frequentes em nossa
            comunidade.</p>

        </div> <!-- Col Description End -->

        <!-- Col Features-->
        <div class="col-lg-9 col-sm-12 right-side">


          <div id="accordion">


            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Qual a duração de cada sessão?
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  Cada sessão tem duração de 40 minutos.
                </div>
              </div>
            </div>



            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Como agendo uma sessão?
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  Basta ... clickar aqui e marcar com uma de nossas atendentes. Também é possível ir direto até nosso
                  local.
                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Qual a diferença entre as saunas infravermelhas e as tradicionais de pedra quente?
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <p class="mb-2">O calor infravermelho tem a capacidade de penetrar no corpo para aquecer até cerca de
                    39 graus celsius. Enquanto a temperatura do ar atinge em torno de 40 a 60 graus celsius, tornando-o
                    mais confortável para se sentar e relaxar.</p>
                  <p class="mb-2">As saunas tradicionais de pedra quente aquecem a temperatura do ar por volta de 180
                    graus, tornando-o um ambiente muito mais difícil para respirar e relaxar. As saunas tradicionais não
                    permitem que o corpo transpire tão profundamente quanto as saunas de infravermelho expelindo apenas
                    3% das toxinas, enquanto podemos experienciar até 20% nas saunas de infravermelho graças à sua
                    tecnologia.</p>
                  <p>A terapia com saunas infravermelhas é uma poderosa ferramenta eficaz na prevenção de enfermidades e
                    curas naturais, além do uso regular ter um efeito cumulativo em nosso corpo.</p>
                </div>
              </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                      aria-expanded="false" aria-controls="collapseFour">
                      A redução de peso é devido a perda de líquidos?
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                    <p class="mb-2">Sim. Esse peso será reposto quando você se reidratar novamente. Mas as calorias perdidas são reais(200 e 400 calorias). Enquanto você relaxa no suave calor da sauna infravermelha da Sudore, seu corpo vai trabalhando para bombear o sangue aumentando a circulação e produzindo o suor. O resultado disso é a queima de calorias!</p>
                  </div>
                </div>
              </div>



              <div class="card">
                  <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                        aria-expanded="false" aria-controls="collapseFive">
                        Quantas calorias posso queimar em uma sessão?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                      <p class="mb-2">Você poderá queimar entre 200 e 400 calorias por sessão.</p>
                    </div>
                  </div>
                </div>
           
           
           
                <div class="card">
                  <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                        aria-expanded="false" aria-controls="collapseSix">
                        Vou continuar queimando calorias após a sessão?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                      <p class="mb-2">Sim. Quando a temperatura corporal aumenta em 3 graus, pode levar até 1 hora para voltar ao normal. Para maximizar a queima calórica, é recomendável estar ativo antes e depois da sessão.</p>
                    </div>
                  </div>
                </div>



                <div class="card">
                    <div class="card-header" id="headingSeven">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                          aria-expanded="false" aria-controls="collapseSeven">
                          Vou suar muito?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                      <div class="card-body">
                        <p class="mb-2">Sim, e é ótimo suar. É uma das maneiras mais seguras e naturais de curar o seu corpo e manter uma boa saúde. Nossas saunas são projetadas especificamente para promover um profundo, natural e saudável suor desintoxicante. Você pode não sentir a sudorese imediatamente durante a sessão, mas com o passar das sessões(geralmente três sessões), seu corpo passará a suar regularmente enquanto internamente faz o detox do seu corpo e da sua mente.</p>
                        <p>
                          Lembre-se também de que quanto mais hidratado você estiver, mais suará. Portanto, beba bastante líquido hidratante antes e após a sessão!
                        </p>
                      </div>
                    </div>
                  </div>



                  <div class="card">
                      <div class="card-header" id="headingEight">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"
                            aria-expanded="false" aria-controls="collapseEight">
                            As saunas são privadas?
                          </button>
                        </h5>
                      </div>
                      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body">
                          <p class="mb-2">Absolutamente! Nossas saunas ficam em suítes individuais para o seu máximo conforto e privacidade enquanto relaxa e deixa a tecnologia do calor infravermelho cuidar de você.</p>
                          </p>
                        </div>
                      </div>
                    </div>



                    <div class="card">
                        <div class="card-header" id="headingNine">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine"
                              aria-expanded="false" aria-controls="collapseNine">
                              As saunas são higiênicas?
                            </button>
                          </h5>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                          <div class="card-body">
                            <p class="mb-2">Sim! A higiene é um dos nossos pilares primordiais junto ao seu bem-estar, conforto, saúde e segurança. Todas as suítes são higienizadas logo após seu uso, além do que, a luz infravermelha emitida pelas saunas também mata os germes, bactérias e fungos transmitidos pelo ar dentro das saunas. Também oferecemos toalhas limpas e individuais para cada sessão.</p>
                            </p>
                          </div>
                        </div>
                      </div>



                      <div class="card">
                          <div class="card-header" id="headingTen">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen"
                                aria-expanded="false" aria-controls="collapseTen">
                                Vocês providenciam chuveiros?
                              </button>
                            </h5>
                          </div>
                          <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                            <div class="card-body">
                              <p class="mb-2">Não. Recomendamos que você espere até 1 hora após a sessão para poder tomar banho enquanto seu corpo esfria e continua a expelir toxinas maximizando os resultados. Nós fornecemos uma toalha de banho úmida com uma deliciosa infusão de óleos essenciais para deixar o seu corpo limpo e revigorado!</p>
                              </p>
                            </div>
                          </div>
                        </div>




                        <div class="card">
                            <div class="card-header" id="headingEleven">
                              <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven"
                                  aria-expanded="false" aria-controls="collapseEleven">
                                  Quais são as políticas de cancelamento, não comparência ou atraso?
                                </button>
                              </h5>
                            </div>
                            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                              <div class="card-body">
                                <p class="mb-2">Pedimos que você cancele sua sessão pelo menos 2 horas antes da hora programada entrando em contato com o studio diretamente ou através do site. Os cancelamentos recebidos dentro de duas horas após o horário marcado e o não comparecimento serão cobrados pela sessão completa. Se você estiver atrasado, pedimos que você ligue e remarque, ou os minutos atrasados serão deduzidos do tempo da sessão se houver um agendamento imediatamente após o seu.</p>
                                </p>
                              </div>
                            </div>
                          </div>




                          <div class="card">
                              <div class="card-header" id="headingTwelve">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve"
                                    aria-expanded="false" aria-controls="collapseTwelve">
                                    Preparação para a sauna
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="mb-2">1 - Esteja com o corpo hidratado. Beba bastante água antes e depois da sessão. Teremos água de cortesia disponível.</p>
                                    <p class="mb-2">2 - Prepare a sua pele. Remova toda a maquiagem, loções e óleos de sua pele.</p>
                                    <p>3 - O que vestir? Você estará em sua própria sala particular, portanto, a decisão é totalmente sua.</p>
                                </div>
                              </div>
                            </div>


          </div> <!-- accordion end -->

        </div> <!-- Col Features end -->

      </div> <!-- Row 2 end -->


  </div>

</section>