<section id="encontrar">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-8 col-md-6 px-0 left-side">


                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2714.662628772204!2d-47.891385913787204!3d-15.798010035585335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3ae6517bc61b%3A0xbc83ed8eba3e0b17!2sCentro%20Comercial%20Amazonas!5e0!3m2!1spt-BR!2sbr!4v1569973425799!5m2!1spt-BR!2sbr"
                    width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>


            <!-- Col Right -->
            <div class="col-lg-4 col-md-6 d-flex right-side mt-4">


                <div class="px-4">


                    <h1 class="h1 sudore-green my-3 font-weight-bold">Studios</h1>

                    <h2 class="h4 mb-0"><i class="ion-location"></i>  Sudore Brasília</h2>
                    <p class="mb-2"> Centro Comercial Amazonas<br>
                        Setor Comercial Sul<br>
                        Q.5, Bloco B, Lote 74, Asa Sul<br>
                        Sobreloja 31
                    </p>
                    <p class="font-weight-bold"><i class="ion-ios-calendar-outline"></i> Segunda a Sexta<br></p>
                    <p><i class="ion-android-alarm-clock"></i> 9:00 às 18:00</p>
                    <p class="font-weight-bold"><i class="ion-ios-calendar-outline"></i> Sábado</p>
                    <p><i class="ion-android-alarm-clock"></i> 8:00 às 12:00</p>

                    <p class=" text-success font-weight-bold"><i class="ion-social-whatsapp"></i> (61) 99938-2956</p>

                </div> <!-- align-self-center -->

            </div> <!-- col-right end -->

        </div> <!-- Row end -->

    </div> <!-- Container end-->


</section> <!-- encontrar section end-->