<!-- Footer -->
<footer class="pt-4 my-md-5 pt-5">
        <!-- Container -->
        <div class="container">

                <div class="row">
        
                    <div class="col-md-3 p-4 text-center text-md-left">
                            <img class="footer-logo mb-2" src="{% asset logo-sudore-footer.svg @path %}" alt="Logo">
                            <small class="d-block text-muted ml-4">&copy; 2019</small>
                    </div>
                    <div class="col-md-3 p-4 text-center text-md-left">
                            <h5>Features</h5>
                            <ul class="list-unstyled text-small d-flex flex-column">
                              <li><a class="text-muted" href="#">Cool stuff</a></li>
                              <li><a class="text-muted" href="#">Random feature</a></li>
                              <li><a class="text-muted" href="#">Team feature</a></li>
                              <li><a class="text-muted" href="#">Stuff for developers</a></li>
                              <li><a class="text-muted" href="#">Another one</a></li>
                              <li><a class="text-muted" href="#">Last time</a></li>
                            </ul>
                    </div>
                    <div class="col-md-3 p-4 text-center text-md-left">
                            <h5>Resources</h5>
                            <ul class="list-unstyled text-small d-flex flex-column">
                              <li><a class="text-muted" href="#">Resource</a></li>
                              <li><a class="text-muted" href="#">Resource name</a></li>
                              <li><a class="text-muted" href="#">Another resource</a></li>
                              <li><a class="text-muted" href="#">Final resource</a></li>
                            </ul>
                    </div>
                    <div class="col-md-3 p-4 text-center text-md-left">
                            <h5>About</h5>
                            <ul class="list-unstyled text-small d-flex flex-column">
                              <li><a class="text-muted" href="#">Team</a></li>
                              <li><a class="text-muted" href="#">Locations</a></li>
                              <li><a class="text-muted" href="#">Privacy</a></li>
                              <li><a class="text-muted" href="#">Terms</a></li>
                            </ul>
                    </div>
        
                </div>
        
            </div> <!--  Container end -->
</footer> <!-- Footer end -->