<!-- Section -->
<section id="hero">
    <!-- Container -->
    <div class="container d-flex h-100">


        <div class="row align-self-center">

            <div class="col-md-7">

                <h1 class="title text-light">Sudore Studio</h1>
                <p class="subhead sudore-orange">Saunas infravermelho<br>
                    ao seu alcance.</p>

                <p class="text-light mb-1">Sudore alia tecnologia e saúde através<br>
                    dos raios infravermelhos e o uso terapêutico da cromoterapia e aromaterapia.</p>

                <a class="sudore-green" href="#beneficios">Saiba mais <i class="ion-chevron-down"></i></a>

            </div>

        </div>

    </div> <!-- Container end-->

</section> <!-- Section End -->


