<section id="pricetable" class="pricing-table mb-4">

    <div class="container">
        <div class="block-heading">
            <h1 class="h2 sudore-green">Planos</h2>
            <!-- <p class="text-muted">Escolha uma de nossas opções para adquirir sessões.</p> -->
            <p class="text-muted">Comece hoje mesmo a proporcionar os cuidados que seu corpo e mente merecem.</p>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-5 col-lg-4">
                <div class="item">
                    <div class="heading">
                        <h3>Unitário</h3>
                    </div>
                    <p>Passe unitário para uma sessão de Sauna + Cromo + Aromaterapia.</p>
                    <div class="features">
                        <h4><span class="feature">Duração</span> : <span class="value">40 Minutos</span></h4>
                        <h4><span class="feature">Preço/Sessão</span> : <span class="value">R$ 75,00</span></h4>
                    </div>
                    <div class="price">
                        <h4 class="text-muted">R$75</h4>
                    </div>
                    <button class="btn btn-block btn-outline-secondary py-2" data-toggle="modal" data-target="#sudoreModalCenter" type="button">AGENDAR <i class="ion-clock"></i></button>
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                    <div class="item">
                            <div class="heading">
                                <h3>4 Sessões</h3>
                            </div>
                            <p>Passe contendo quatro sessões de Sauna + Cromo + Aromaterapia.</p>
                            <div class="features">
                                <h4><span class="feature">Duração</span> : <span class="value">40 Minutos</span></h4>
                                <h4><span class="feature">Preço/Sessão</span> : <span class="value">R$ 55,00</span></h4>
                            </div>
                            <div class="price">
                                <h4 class="text-muted">R$220</h4>
                            </div>
                            <button class="btn btn-block btn-outline-secondary py-2" data-toggle="modal" data-target="#sudoreModalCenter" type="button">AGENDAR <i class="ion-clock"></i></button>
                        </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="item">
                        <div class="ribbon">Custo-Benefício</div>
                        <div class="heading">
                            <h3>8 Sessões</h3>
                        </div>
                        <p>Passe contendo oito sessões de Sauna + Cromo + Aromaterapia.</p>
                        <div class="features">
                            <h4><span class="feature">Duração</span> : <span class="value">40 Minutos</span></h4>
                            <h4><span class="feature">Preço/Sessão</span> : <span class="value text-danger">R$ 48,75</span></h4>
                        </div>
                        <div class="price">
                            <h4 class="text-muted">R$390</h4>
                        </div>
                        <button class="btn btn-block btn-danger py-2 font-weight-bold text-light" data-toggle="modal" data-target="#sudoreModalCenter" type="button">AGENDAR <i class="ion-clock"></i></button>
                    </div>
            </div>
        </div>
    </div>
</section>