<!DOCTYPE HTML>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }} | {{ page.title }}.</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:image" content="{{ site.url }}{% asset og-image.jpg @path %}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ site.url }}{% asset og-image.jpg @path %}">

  <link rel="apple-touch-icon" href="{% asset apple-touch-icon.png @path %}">


  <!-- Font -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">

  <!-- Stylesheets -->

  <!-- <link href="common-css/bootstrap.css" rel="stylesheet"> -->
  {% asset "common-css/bootstrap.css" %}

  <!-- <link href="common-css/ionicons.css" rel="stylesheet"> -->
  {% asset "common-css/ionicons.css" %}

  <!-- <link rel="stylesheet" href="common-css/jquery.classycountdown.css" /> -->
  {% asset "common-css/jquery.classycountdown.css" %}

  <!-- <link href="01-comming-soon/css/styles.css" rel="stylesheet"> -->
  {% asset "common-css/styles.css" %}

  <!-- <link href="01-comming-soon/css/responsive.css" rel="stylesheet"> -->
  {% asset "common-css/responsive.css" %}

</head>

<body>

  <div class="main-area">
    <div class="container full-height position-static">

      <section class="left-section full-height">

        <a class="logo" href="#"><img src="{% asset 'common-img/logo-sudore-sauna-express.svg' @path %}" alt="Logo"></a>

        <div class="display-table">
          <div class="display-table-cell">
            <div class="main-content">
              <h1 class="title"><b>Estamos chegando...</b></h1>
              <p>Saunas infravermelho ao seu alcance.
                Sudore alia tecnologia e saúde através dos raios infravermelhos e o uso terapêutico da cromoterapia.
              </p>

              {% comment %} <div class="email-input-area">
                <form name="">
                  <input class="email-input" name="email" type="email" placeholder="Digite seu email" />
                  <button class="submit-btn" name="submit" type="submit"><b>ENVIAR</b></button>
                </form>
              </div><!-- email-input-area --> {% endcomment %}

              <!-- Begin Mailchimp Signup Form -->

              <div class="email-input-area">
                <div id="mailchimp">
                  <form action="https://sudore.us20.list-manage.com/subscribe/post?u=9d86f8a9f20531fa5b5f1b24b&amp;id=1fdfb846cd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                  
                    <div id="mc_embed_signup_scroll">
                      <input type="email" value="" name="EMAIL" class="email-input" id="mce-EMAIL" placeholder="Digite seu email" />
                    
                      <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>  <!-- End Email Input -->
              
                    <!-- real people should not fill this in and expect good things 
                    - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9d86f8a9f20531fa5b5f1b24b_1fdfb846cd" tabindex="-1" value=""></div>

                      <button class="submit-btn" name="subscribe" type="submit" id="mc-embedded-subscribe"><b>ENVIAR</b></button>

                    </div> <!-- End Submit Button -->

                  </form> <!-- End form -->

                </div> <!-- End mailchimp -->

              </div><!-- email-input-area -->


              

              <p class="post-desc">Assine nossa lista de espera!</p>
            </div><!-- main-content -->
          </div><!-- display-table-cell -->
        </div><!-- display-table -->

        <ul class="footer-icons">
          <li>Stay in touch : </li>
          <li><a href="https://facebook.com/{{ site.social.facebook }}"><i class="ion-social-facebook"></i></a></li>
          <li><a href="https://instagram.com/{{ site.social.instagram }}"><i class="ion-social-instagram-outline"></i></a></li>
        </ul>

      </section><!-- left-section -->

      <section class="right-section" style="background-image: url({% asset 'common-img/coming_soon_8-1000x1000.jpg' @path %}">

        <div class="display-table center-text">
          <div class="display-table-cell">


            <div id="rounded-countdown">
              <div class="countdown" data-remaining-sec=""></div>
            </div>

          </div><!-- display-table-cell -->
        </div><!-- display-table -->

      </section><!-- right-section -->

    </div><!-- container -->
  </div><!-- main-area -->

  <!-- SCIPTS -->

  <!-- <script src="common-js/jquery-3.1.1.min.js"></script> -->
  {% asset 'common-js/jquery-3.1.1.min.js' %}

  <!-- <script src="common-js/tether.min.js"></script> -->
  {% asset 'common-js/tether.min.js' %}


  <!-- <script src="common-js/bootstrap.js"></script> -->
  {% asset 'common-js/bootstrap.js' %}

  <!-- <script src="common-js/jquery.classycountdown.js"></script> -->
  {% asset 'common-js/jquery.classycountdown.js' %}


  <!-- <script src="common-js/jquery.knob.js"></script> -->
  {% asset 'common-js/jquery.knob.js' %}


  <!-- <script src="common-js/jquery.throttle.js"></script> -->
  {% asset 'common-js/jquery.throttle.js' %}


  <!-- <script src="common-js/scripts.js"></script> -->
  {% asset 'common-js/scripts.js' %}

</body>

</html>