<!doctype html>
<html lang="pt-br">
{% include head.html %}
<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong>
      browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.</p>
  <![endif]-->

  <main role="main">
    
    <!-- NavBar -->
    {% include components/navbar.html %}

    {% include components/modal.html %}
    {% include components/backtotop.html %}

    <!-- Hero -->
    {% include sections/hero.html %}
    
    <!-- Como Funciona -->
    {% include sections/comofunciona.html %}

    <!-- Benefícios -->
    {% include sections/beneficios.html %}

    <!-- Planos -->
    {% include sections/pricetable.html %}

    <!-- Onde Encontrar -->
    {% include sections/encontrar.html %}

    <!-- Footer -->
    {% include sections/footer-light.html %}
  </main>

  {% include javascripts.html %}
</body>
</html>
