<!doctype html>
<html lang="pt-br">
{% include head.html %}
<body data-spy="scroll" data-target="#navbar-example">
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong>
      browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.</p>
  <![endif]-->

  <main role="main">
    
    <!-- NavBar -->
    {% include components/navbar.html %}

    <!-- Hero -->
    {% include sections/hero.html %}
    
    <!-- Benefícios -->
    {% include sections/beneficios.html %}

    <!-- Como Funciona -->
    {% include sections/comofunciona.html %}


    <!-- Onde Encontrar -->

    <!-- Footer -->
    
  </main>

  {% include javascripts.html %}
</body>
</html>
