<!doctype html>
<html lang="pt-br">
{% include head.html %}
<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong>
      browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.</p>
  <![endif]-->
  
   <!-- NavBar -->
  {% include components/navbar.html %}
  {% include components/modal.html %}
  {% include components/backtotop.html %}

  <section id="post">

    <main role="main">

      <div class="container">

        <div class="row">

          <div class="col-sm-12 col-lg-8 offset-lg-2">

            <h1 class="h2">{{ page.title }}</h1>
            <p class="small text-muted font-weight-bold mb-2">
              {{ page.date | date: '%d do %m de %Y' }}
            </p>


            {{ content }}


          </div> <!-- col -->

        </div> <!-- row  end-->

      </div> <!-- contaienr end -->

      
    </main>

  </section>

  {% include sections/footer-light.html %}


  {% include javascripts.html %}
</body>
</html>
