#comofunciona
    // padding: 8em 0

    .step-icon
        font-size: 4em
    
    .left-side
        height: 110vh
        background-image: linear-gradient(to bottom, rgba(0,0,0, 0.5),rgba(0,0,0, 0.4)), asset_url("bg-left-side.jpg")
        background-size: cover

        p.subhead
            line-height: 1.2
            font-size: 1.5em
    
    .right-side
        height: 110vh
        background-image: linear-gradient(to right, rgba(0,0,0, 0.4),rgba(0,0,0, 0.4)), asset_url("bg-right-side.jpg")
        background-size: cover

    .title
        z-index: 99
        margin-bottom: -1.2em

    // @media (min-width: 768px)
    //     .right-side .title
    //         margin-left: -2.5em

    @media (min-width: 992px)
        .title
            font-size: 6.5em
            line-height: 0.9
            margin-bottom: -1em
            margin-left: 2em


#cromoterapia
    .cromoterapia-carousel-column
        height: 100vh
        min-height: 350px

    .cromoterapia-content-column
        height: 100vh
        min-height: 350px

    .carousel-item 
        height: 100vh
        min-height: 350px
        background: no-repeat center center scroll
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-size: cover
