#comofunciona
    // padding: 8em 0

    .step-icon
        font-size: 4em
    
    .left-side
        height: 60vh
        background-image: linear-gradient(to bottom, rgba(0,0,0, 0.5),rgba(0,0,0, 0.4)), asset_url("bg-left-side.jpg")
        background-size: cover
        background-attachment: fixed        

        p.subhead
            line-height: 1.2
            font-size: 1.5em
    
    .right-side
        height: 45vh
        background-image: linear-gradient(to right, rgba(0,0,0, 0.4),rgba(0,0,0, 0.4)), asset_url("bg-right-side.jpg")
        background-size: cover

    .title
        z-index: 2
        margin-bottom: -1.2em

    @media (min-width: 768px)
        .left-side, .right-side
            height: 70vh

        .right-side .title
            margin-left: -2.5em
        
        

    @media (min-width: 992px)
        .left-side, .right-side
            height: 100vh

        .title
            font-size: 6.5em
            line-height: 0.9
            margin-bottom: -1em
            margin-left: 2em

#infravermelho
    @media (max-width: 768px)
        .infravermelho-title
            margin-left: 15px

#cromoterapia
    .cromoterapia-carousel-column
        height: 105vh
        min-height: 350px

    .cromoterapia-content-column
        height: 105vh
        min-height: 350px

    .carousel-item 
        height: 105vh
        min-height: 350px
        background: no-repeat center center scroll
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-size: cover


    // #pills-home-tab.active
    //     background-color: red

    #v-pills-vermelho-tab.active
        background-color: rgb(220,20,60)
    
    #v-pills-laranja-tab.active
        background-color: rgb(255,140,0)
    
    #v-pills-amarelo-tab.active
        background-color: rgb(255,215,0)

    #v-pills-verde-tab.active
        background-color: rgb(50,205,50)

    #v-pills-azul-tab.active
        background-color: rgb(30,144,255)

    #v-pills-purpura-tab.active
        background-color: rgb(186,85,211)