.sudore-hero
    height: 100vh
    background-image: linear-gradient(to right, rgba(0,0,139, 0.7),rgba(204,83,51, 0.5), rgba(148,0,211, 0.4)), asset_url("bg-1.jpg")
    background-size: cover
    // 6ec5ca sudore lightgreen - 110,197,202
    // 242f4d sudore petroleo - 36,47,77
    // from coming_soon
    // blueish (26,88,158, 0.6)
    // pinkish 204,83,51, 0.5
    .title
        font-size: 5em
        line-height: 1 
    
    .subhead
        line-height: 1.2
        font-size: 1.5em


    // Diagonal
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,242f4d+0,476599+30,6ec5ca+100 */
    // background: #1e5799 // Old browsers
    // background: -moz-linear-gradient(-45deg,  #1e5799 0%, #242f4d 0%, #476599 30%, #6ec5ca 100%) //FF3.6-15 */
    // background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#242f4d 0%,#476599 30%,#6ec5ca 100%) // Chrome10-25,Safari5.1-6
    // background: linear-gradient(135deg,  #1e5799 0%,#242f4d 0%,#476599 30%,#6ec5ca 100%) // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#6ec5ca',GradientType=1 ) //IE6-9 fallback on horizontal gradient
