#share-buttons

    .email
        background-color: grey
        color: #fff

    .facebook
        background-color: #3b5998
        color: #fff

    .twitter
        background-color: #38a1f3
        color: #fff

    .whatsapp
        background-color: #25d366
        color: #fff

